html{
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}
img-target-card{
  transform: scale(1,5) rotate(1turn);
}

body{
  max-width: 900px;
  margin: auto;
  font-size: 16px;
  font-family: 'Sniglet', cursive;
}
header{
  display: flex;
  justify-content: space-between;
  margin: auto 10px;
  align-items: center;
}
h1{
  letter-spacing: 0.1em;
}

nav ul li{
  display: inline-block;
  margin-left: 10px;
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

nav ul li a:hover{
  text-decoration: none;
  color:brown;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

#aboutMe img{
  max-width: 250px;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  float: right;
  opacity: 0.85;
}

#aboutMe img:hover{
  max-width: 250px;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  float: right;
  opacity: 0.85;
  rotate: 0.02turn;
  transition: ;
}


@media  only screen and (max-width:480px){
  body{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: auto;
  }
  
  #aboutMe img{
    max-width: 150px;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
    float: right;
    opacity: 0.85;
  }
}



